@font-face {
  font-family: 'PlusJakartaSans';
  src: local('PlusJakartaSans'), url(../public/PlusJakartaSans-VariableFont_wght.ttf) format('truetype');
}
h1{
  font-family: "PlusJakartaSans";
}
p{
  font-family: "PlusJakartaSans";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  background-color: #e3f4fc;
}
.calculatorContainer{
  background-color: #ffffff;
  width: 800px;
  height: 560px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}
.userInputContainer{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outputContainer{
  width: 50%;
  height: 100%;
  border-bottom-left-radius: 60px;
  background-color: #133040 ;
}
.mortageTitleContainer{
  width: 85%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.titleText{
  margin: 0;
  font-size: 23px;
  width: auto;
  height: auto;
  color: #132730;
}
.clearBtn{
  background-color: #13304000;
  border: none;
  text-decoration:underline;
  color: #778286;
}
.inputContainer{
  width: 85%;
  height: 110px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.inputLabel{
  font-size: 14px;
  font-weight: 500;
  color: #778286;
}
.inputField{
  height: 40px;
  border: 1px solid #808f94;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.inputField.error{
  border: 1px solid red;
}
.inputField.active{
  border: 1px solid #b4b728;
}
.inputField input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "PlusJakartaSans";
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.inputField input:hover{
  cursor: pointer;
}
.inputIconContainer{
  padding: 15px;
  width: auto;
  height: 100%;
  background-color: #e2f5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.inputIconContainer.active{
  background-color: #d9db32;
}
.inputIconContainer.error{
  background-color: red;
}
.inputIconContainer.error h1{
  color: white;
}
.inputTermContainer{
  width: 80%;
  height: 100%;
  background-color: #e2f5fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formatText{
  color: #526873;
  font-size: 15px;
}
.inputContainerChild{
  width: 50%;
  height: 100%;
}
.termRateContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 85%;
}
.radio{
  background-color: #d7da49;
  accent-color: #d7da49;
}
.radioContainer{
  height: 150px;
  width: 85%;
}
.selectContainer{
  margin-top: 10px;
  height: 40px;
  border: solid 1px #808f94;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.selectContainer.selected{
  border: solid 1px #cdd28e;
  background-color: #fafae0;
}
.radio:checked + .selectContainer{
  background-color: yellow;
}
.selectContainer h1{
  font-size: 15px;
  margin-left: 10px;
}
.selectContainer:hover{
  cursor: pointer;
}
.submitButton{
  width: 70%;
  height: 55px;
  margin-top: 20px;
  border-radius: 50px;
  border: none;
  background-color: #d9db30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s all ease-in-out;
}
.submitButton:hover{
  cursor: pointer;
  background-color: #b4b728;
}
.submitButton h1{
  font-size: 16px;
}
.submitButton img{
  height: 50%;
}
.clearBtn:hover{
  cursor: pointer;
}
.errorText{
  font-size: 10px;
  font-weight: 600;
  height: auto;
  color: red;
  font-family: PlusJakartaSans;
}
.outputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.outputPreview{
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.outputPreview h1{
  font-size: 24px;
  color: white;
}
.outputPreview p{
  font-size: 13.5px;
  color: #5d7a8c;
  text-align: center;
  font-weight: 500;
}
.resultPreview{
  width: 90%;
  height: 90%;
}
.resultPreview h1{
  color: white;
  font-size: 26px;
}
.resultPreview p{
  font-size: 14px;
  font-weight: 600;
  color: #5d7a8c;
}
.resultContainer{
  width: 100%;
  height: 300px;
}
.result{
  margin-top: 40px;
  width: 100%;
  height: 90%;
  background-color: #0e2431;
  border-radius: 7px;
  border-top: 5px solid #d9db30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.monthlyContainer{
  width: 90%;
  height: 45%;
  border-bottom: 1px solid gray;
}
.monthlyContainer p{
  margin-top: 10px;
}
.monthlyContainer h1{
  color: #d9db30;
  font-size: 45px;
  height: auto;
  margin: 0;
}
.totalContainer{
  width: 90%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
.totalContainer h1{
  margin: 0;
  font-size: 23px;
}
.totalContainer p{
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .container{
    height: 1500px;
    align-items: start;
    padding-top: 25px;
  }
  .calculatorContainer{
    flex-direction: column;
    width: 95%;
    height: 1050px;
  }
  .userInputContainer{
    width: 90%;
    height: 50%;
  }
  .outputContainer{
    height: 50%;
    width: 100%;
    border-radius: 0;
  }
  .submitButton h1{
    font-size: 14px;
  }
}